@model ShoppingCartViewModel

<h2>Your shopping cart</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Amount</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">SubTotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <td class="text-center">
                @item.Amount
            </td>
            <td class="text-left">
                @item.Product.Name
            </td>
            <td class="text-right">
                @item.Product.Price.ToString("c")
            </td>
            <td class="text-right">
                @((item.Amount * item.Product.Price).ToString("c"))
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">
            Total:
        </td>
        <td class="text-right">
            @Model.ShoppingCartTotal.ToString("c")
        </td>
    </tr>
    </tfoot>
</table>
<div class="text-center">
    <a asp-controller="Order" asp-action="CheckOut" class="btn btn-primary">Check Out</a>
</div>